<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>DrinkzApp-API</title>
    @Styles.Render("~/Content/Home.css")
    @Scripts.Render("~/Scripts/jquery-1.7.1.js")
    @Scripts.Render("~/Scripts/jHome.js")
</head>
<body>
    <div class="menu-collapsed">
        <div class="bar"></div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="http://lizarbmob.com/">About LizarbMob</a></li>
                <li><a href="/Help">API Methods</a></li>
            </ul>
        </nav>
    </div>
    <h1>DrinkzApp API</h1>
    <p>This is the DrinkzApp API, where you can find all methodos of create , delete and select ,  you can click <a href="/Help">HERE</a> to findo the methods or you can click on the menu on the top-left of the screen</p>
</body>
</html>
